<div class="col-xs-3 text-center">
  <a href class="charmImage" data-toggle="modal" data-target="#charmModal{{ charmInfo.SKU }}"><img src="images/charmImages/{{ charmInfo.SKU }}.jpg" width="150" height="150"></a>

  <div class="text-right" style="position: absolute; top: 90px; right: 10px;">
    <a href class="favorite btn btn-link" style="padding: 0;" ng-click="toggleToFavorites(item)">
      <span class="glyphicon" ng-class="{ 'glyphicon-star': charmInfo.isFavorite, 'glyphicon-star-empty': !charmInfo.isFavorite }" aria-hidden="true" style="color: #b7826e; font-size: 35px;"></span>
    </a>
  </div>

  <div class="modal fade" id="charmModal{{ charmInfo.SKU }}" role="dialog">
    <div class="modal-dialog" role="document" style="background-color: #ffffff;">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0;">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true" style="font-size: 40px; margin-top: -10px; display: inline-block;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 text-center">
                <img src="images/charmImages/{{ charmInfo.SKU }}.jpg" width="300" height="300">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right" style="color: #BDBDBD">
                <small><strong>{{ charmInfo.SKU }}</strong></small>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-12 text-left" style="color: #BDBDBD">
                <strong>{{ charmInfo.Description }}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 text-left" style="color: #BDBDBD">
                <table>
                  <tr>
                    <td>
                      <span><h3><strong>${{ charmInfo.Retail }}</strong></h3></span>
                    </td>
                    <td style="padding-top: 10px;">
                      <span>
                        &nbsp;&nbsp;&nbsp;
                        Quantity:
                          <select  class="input-sm" ng-model="charmInfo.quantity" ng-options="n for n in [1,2,3,4,5,6,7,8,9,10]"></select>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-6" style="padding-top: 10px;">
                <small style="color: #BDBDBD"  ng-click="toggleToFavorites(item)"><strong><span ng-if="!charmInfo.isFavorite">ADD TO</span><span ng-if="charmInfo.isFavorite">REMOVE FROM</span> FAVORITES</strong></small>&nbsp; &nbsp;
                <span class="glyphicon" ng-class="{ 'glyphicon-star': charmInfo.isFavorite, 'glyphicon-star-empty': !charmInfo.isFavorite }" aria-hidden="true" style="color: #b7826e; font-size: 35px;"  ng-click="toggleToFavorites(item)"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
