<div class="row rowPadding">
  <div class="col-xs-12 col-sm-6" ng-cloak>
    <div class="introStatement">
      <p class="lead" style="color: #999999;">
        Explore our unique collection of charms, <br>
        hand-crafted by the most talented artisans in <br>
        Italy*. Charms that celebrate your loves, <br>
        your successes, your passions...your life!
      </p>

      <div class="tagLine text-center">
        <img src="images/slogan.jpg">
      </div>
    </div>

  </div>
  <span style="position: absolute; top: 35%; left: 50%;">
    <a id="step1" href="#/start-bracelet"><img src="images/step1.png"></a>
  </span>

  <span style="position: absolute; top: 75%; left: 41%;">
    <a id="step2" href="#/select-charms"><img src="images/step2.png"></a>
  </span>

  <span style="position: absolute; top: 75%; left: 66%;">
    <a id="step3" href="#/finish-charms"><img src="images/step3.png"></a>
  </span>

  <img src="images/Mom_Bolo_Bracelet.png" style="padding-top: 100px;">
</div>
