<div class="row row-padding">
  <div class="col-sm-6 text-center">
    <h3 style="color: #B07760;">
      Choose from our Starter Bracelets
    </h3>
  </div>

  <div class="col-sm-6 text-center">
    <h3 style="color: #B07760; margin-top: 16px; margin-left: -20px;">
      Or from one of our other Collections.
    </h3>
  </div>
</div>
<div class="row row-padding">
  <div class="col-sm-6 text-center">
      <a ng-href="#/start-bracelet/starter">
        <img src="images/charmBeginningsLogo.jpg">
      </a>
  </div>

  <div class="col-xs-6 text-center" style="margin-left: -20px;">
    <div class="row">
      <div class="col-sm-6">
        <a ng-href="#/start-bracelet/traditional">
          <img src="images/traditionalBraceletLogo.jpg">
        </a>
      </div>

      <div class="col-sm-6">
        <a href="#/start-bracelet/bangles">
          <img src="images/banglesandCuffsLogo.jpg" alt="Bangles and Cuffs">
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <a ng-href="#/start-bracelet/bolo">
          <img src="images/boloBraceletLogo.jpg" alt="Bolo Bracelet">
        </a>
      </div>

      <div class="col-sm-6">
        <a ng-href="#/start-bracelet/necklaces">
          <img src="images/necklaceLogo.jpg" alt="Necklaces">
        </a>
      </div>
    </div>
  </div>
</div>
