/* Space out content a bit */

@media screen {

    @font-face {
      font-family:"Callie Hand";
      src:url("Callie_Hand.eot?") format("eot"),
          url("Callie_Hand.woff") format("woff"),
          url("Callie_Hand.ttf") format("truetype"),
          url("Callie_Hand.svg#CallieHand") format("svg");
          font-weight:normal;
          font-style:normal;
    }

    .outline {
      outline: 1px solid red;
    }

    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .rowPadding {
      padding-left: 15px;
      padding-right: 15px;
    }

    .charmedLogo {
      position: relative;
      display: inline-block;
      right: 20px;
      bottom: 20px;
    }

    .main {
      height: 557px;
      width: 1024px;
      max-height: 557px;
      max-width: 1024px;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
    }

    .header {
      display: block;
      width: inherit;
      height: 113px;
      padding-top: 58px;
    }

    .mainBody {
      display: block;
      border: 1px solid #e5e5e5;
      min-height: 442px;
      height: 100%;
      min-width: 1022px;
      width: 100%;
    }

    .nav > li > a {
        text-decoration: none;
        background-color: #E1E1E1;
        color: #000000;
        height: 55px;
        font-weight: 500;
    }

    .nav-tabs.nav-justified li a {
        margin-right: 0;
        border-radius: 0;
        border-left: 1px solid #BDBDBD;
        border-top: 1px solid #E1E1E1;
        border-bottom: 4px solid #E1E1E1;
        font-size: 0.85em;
    }

    .nav-tabs.nav-justified li a:hover, .nav-tabs.nav-justified li.active a:hover, .nav-tabs.nav-justified li a:active, .nav-tabs.nav-justified li.active a {
      background-color: #f5f5f5;
      border-bottom: 4px solid #B07761;
      border-left: 1px solid #BDBDBD;
      border-top: 1px solid #e1e1e1;
      border-right: none;
    }

    .introStatement {
      padding-top: 150px;
    }

    .tagLine {
      position: absolute;
    }

     .tagLine h2 {
       margin: 0;
     }

     a, a:hover, a:active, a:focus {
       outline: 0;
     }

    /* Everything but the jumbotron gets side spacing for mobile first views */
    /*.marketing,
    .footer {
      padding-left: 15px;
      padding-right: 15px;
    }*/

    /* Custom page footer */
    .footer {
      display: block;
      height: 40px;
      color: #777;
      position: absolute;
      width: 100%;
      bottom: 5px;
      text-align: center;
      margin-left: 25px;
    }

    /* override pagination styles */
    .pagination, .pagination > li > a {
      border: 0;
      margin: 0;
      color: #BDBDBD;
      font-size: 18px;
    }

    .pagination > li:first-child > a, .pagination > li:last-child > a {
      padding: 0;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
      background: none;
      color: #B07760;
    }

    .css-form input.ng-invalid.ng-dirty {
      background-color: #FA787E;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #ffffff;
        filter: alpha(opacity=0);
    }

}

@media print {

  body {
    font-size: 11px;
  }

}
